[submodule "intpath/warehouse-restriction"]
	path = intpath/warehouse-restriction
	url = git@github.com:intpath/warehouse-restriction.git
	branch = master

[submodule "intpath/pos-restriction"]
	path = intpath/pos-restriction
	url = git@github.com:intpath/pos-restriction.git
	branch = master

[submodule "intpath/stock_no_negative"]
	path = intpath/stock_no_negative
	url = git@github.com:intpath/stock_no_negative.git
	branch = master

[submodule "intpath/print_journal_entries"]
	path = intpath/print_journal_entries
	url = git@github.com:intpath/print_journal_entries.git
	branch = master

[submodule "intpath/payment_journal_receipt"]
	path = intpath/payment_journal_receipt
	url = git@github.com:intpath/payment_journal_receipt.git
	branch = master

[submodule "intpath/expense_report_journal"]
	path = intpath/expense_report_journal
	url = git@github.com:intpath/expense_report_journal.git
	branch = master
[submodule "intpath/naseem_warth"]
	path = intpath/naseem_warth
	url = git@github.com:intpath/naseem_warth.git

[submodule "intpath/inventory_validation"]
	path = intpath/inventory_validation
	url = git@github.com:intpath/inventory_validation.git
	branch = master

[submodule "intpath/pos_invoice_report_custom"]
	path = intpath/pos_invoice_report_custom
	url = git@github.com:intpath/pos_invoice_report_custom.git
	branch = master

[submodule "intpath/stock_move_report_custom"]
	path = intpath/stock_move_report_custom
	url = git@github.com:intpath/stock_move_report_custom.git
	branch = master

[submodule "intpath/deltatech_stock_negative"]
	path = intpath/deltatech_stock_negative
	url = git@github.com:intpath/deltatech_stock_negative.git
	branch = master

[submodule "intpath/pos_product_available"]
	path = intpath/pos_product_available
	url = git@github.com:intpath/pos_product_available.git
	branch = master

[submodule "intpath/work_order_report"]
	path = intpath/work_order_report
	url = git@github.com:intpath/work_order_report.git
	branch = master

[submodule "intpath/product_movement_report"]
	path = intpath/product_movement_report
	url = git@github.com:intpath/product_movement_report.git
	branch = master

[submodule "intpath/account_customisations"]
	path = intpath/account_customisations
	url = git@github.com:intpath/account_customisations.git
	branch = master

[submodule "intpath/odoo_payment_int_trf"]
	path = intpath/odoo_payment_int_trf
	url = git@github.com:intpath/odoo_payment_int_trf.git
	branch = master

[submodule "intpath/report_context"]
	path = intpath/report_context
	url = git@github.com:intpath/report_context.git
	branch = master


[submodule "intpath/pos_order_print"]
	path = intpath/pos_order_print
	url = git@github.com:intpath/pos_order_print.git
	branch = master

[submodule "intpath/odoo_customisations"]
	path = intpath/odoo_customisations
	url = git@github.com:intpath/odoo_customisations.git
	branch = master

[submodule "intpath/add_account_receive_invoice"]
	path = intpath/add_account_receive_invoice
	url = git@github.com:intpath/add_account_receive_invoice.git
	branch = master

[submodule "intpath/add_account_receive_invoice"]
	path = intpath/add_account_receive_invoice
	url = git@github.com:intpath/add_account_receive_invoice.git
	branch = master

[submodule "intpath/invoice_summary_report"]
	path = intpath/invoice_summary_report
	url = git@github.com:intpath/invoice_summary_report.git
	branch = warth

[submodule "intpath/trial_balance_borders"]
	path = intpath/trial_balance_borders
	url = git@github.com:intpath/trial_balance_borders.git
	branch = master

[submodule "intpath/stock_picking_cancel_cs"]
	path = intpath/stock_picking_cancel_cs
	url = git@github.com:intpath/stock_picking_cancel_cs.git
	branch = 13-edited

[submodule "intpath/eq_stock_move_cancel"]
	path = intpath/eq_stock_move_cancel
	url = git@github.com:intpath/eq_stock_move_cancel.git
	branch = master

[submodule "intpath/sale_order_payment_type"]
	path = intpath/sale_order_payment_type
	url = git@github.com:intpath/sale_order_payment_type.git
	branch = master
[submodule "intpath/report_stock_inventory"]
	path = intpath/report_stock_inventory
	url = git@github.com:intpath/report_stock_inventory.git
	branch = fixed

[submodule "intpath/pos_products_quant"]
	path = intpath/pos_products_quant
	url = git@github.com:intpath/pos_products_quant.git
	branch = master
