[submodule "intpath/warehouse-restriction"]
	path = intpath/warehouse-restriction
	url = git@github.com:intpath/warehouse-restriction.git
	branch = master

[submodule "intpath/pos-restriction"]
	path = intpath/pos-restriction
	url = git@github.com:intpath/pos-restriction.git
	branch = master
