/* .trial_balance_borders-table {
    border-collapse: collapse;
    border: 2px solid black;
}

.trial_balance_borders-table td {
    border: 1px solid black;
}

.trial_balance_borders-table th {
    border: 2px solid black;
} */
tr > td {
 border: 1px black solid;
}